
<h1>{{ user.username}} </h1> <br>
<h2> Level -- {{user.person.level}} </h2> <br>
<h2> Coins -- {{user.person.coins}} </h2> <br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

Transactions <br>

{% if latest_transaction_list %}
<ul>
  
  {% for transaction in latest_transaction_list %}
    <li>  {{ transaction.0 }} gave {{ transaction.1 }} {{ transaction.2 }} DeejCoins  {{ transaction.3 }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No transactions yet :( </p>
{% endif %}
