{% extends  "userbase/base.html" %}
{% block content %}
<h1>{{ user.username }} </h1> <br>
<h2> Level -- {{user.person.level}} </h2> <br>
<h2> Coins -- {{user.person.coins}} </h2> <br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if is_homepage %}

<a href=" {% url 'transaction' user.username %}"> Make a transaction </a> <br>
<a href=" {% url 'leaderboard' %}"> View the glorious Leaderboard </a> <br>
<a href=" {% url 'logout' %}"> Logout </a> <br>

{% elif active_user.is_authenticated %}
<a href=" {% url 'leaderboard' %}"> Back to the glorious Leaderboard </a> <br>
<a href=" {% url 'user' active_user.username %}"> Back to Homepage </a> <br>
<a href=" {% url 'logout' %}"> Logout </a> <br>
{% endif %}

<br>Transactions: <br>

{% if latest_transaction_list %}
<ul>
  
  {% for transaction in latest_transaction_list %}
    <li>  {{ transaction.person_set.all.0.user.username }} gave {{ transaction.person_set.all.1.user.username }} {{ transaction.amount }} DeejCoins  {{ transaction.date }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No transactions yet :( </p>
{% endif %}
{% endblock %}
